/* UE.css */

.prestataire-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .prestataire-title {
    color: white;
    background-color: rgb(10, 87, 16);
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .prestataire-datagrid-container {
    height: 400px;
    width: 100%;
  }
  .voirPrestataire{
    color: rgb(10, 87, 16);
  }
  